<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Julgestajakaardi registri vorm</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <div id="left-background"></div>
        <div id="left" v-if="!submitted">
            <!-- Login Form -->
            <form v-if="!isAuthenticated" id="form" @submit.prevent="login">
                <div>
                    <h2>Eesti Ronimisliit</h2>
                    <h1>Julgestajakaardi register</h1>
                </div>
                <p>Logi sisse andmete sisestamiseks</p>
                <div class="form-field">
                    <label>Kasutajanimi</label>
                    <input type="text" v-model.trim="loginData.username" placeholder="kasutaja"/>
                </div>
                <div class="form-field">
                    <label>Parool</label>
                    <input type="password" v-model="loginData.password" placeholder="parool"/>
                </div>
                <div v-if="loginError" class="error-message">{{loginError}}</div>
                <button :disabled="isLoginDisabled">
                    <img class="loading-spinner" v-if="isLoggingIn" src="assets/Rolling-1s-200px.svg"/>
                    {{isLoggingIn ? '':'LOGI SISSE'}}
                </button>
            </form>
            <!-- Main Form -->
            <form v-if="isAuthenticated" id="form" @submit.prevent="submit">
                <div>
                    <h2>Eesti Ronimisliit</h2>
                    <h1>Julgestajakaardi register</h1>
                    <button type="button" @click="logout" class="logout-button">Logi välja</button>
                </div>
                <p>Sisesta andmed registrisse</p>
                <div class="form-field">
                    <label>Isikukood</label>
                    <input type="text" v-model.trim="formData.idCode" placeholder="12345678901" maxlength="11" id="idCode"/>
                </div>
                <div class="form-field">
                    <label>Ronija nimi</label>
                    <input type="text" v-model.trim="formData.name" placeholder="Ees Perekonnanimi"/>
                </div>
                <div class="form-field">
                    <label>Ronija e-mail</label>
                    <input type="email" v-model.trim="formData.email" placeholder="ronija@email.ee"/>
                </div>
                <div class="form-field">
                    <label>Kaardi tüüp</label>
                    <select v-model="formData.cardType" class="card-type-select">
                        <option value="">Vali kaardi tüüp</option>
                        <option value="green" class="green-option">Roheline</option>
                        <option value="red" class="red-option">Punane</option>
                    </select>
                </div>
                <div class="form-field">
                    <label>Eksami toimumise kuupäev</label>
                    <input type="date" v-model="formData.examDate"/>
                </div>
                <div class="form-field">
                    <label>Kommentaar</label>
                    <textarea v-model.trim="formData.comment" placeholder="Lisainfo või märkused..." rows="3"></textarea>
                </div>
                <button :disabled="isSubmitDisabled">
                    <img class="loading-spinner" v-if="isLoading" src="assets/Rolling-1s-200px.svg"/>
                    {{isLoading ? '':'SISESTA'}}
                </button>
            </form>
            <div @click="toggleMobileInstructions" class="mobile" id="mobile-instructions-link"><a>Vajad abi? Loe kasutusjuhendit siit</a> <img src="assets/chevron-right.svg"/></div>
        </div>

        <div id="right" class="desktop">
            <div class="centered-content">
                <template v-if="submitted">
                    <div id="result">
                        <div class="green header">ANDMED SISESTATUD</div>
                        <div id="result-content">
                            <div class="row">
                                <p class="heading">ISIKUKOOD</p>
                                <p class="content">{{submittedData.idCode}}</p>
                            </div>
                            <div class="row">
                                <p class="heading">RONIJA NIMI</p>
                                <p class="content">{{submittedData.name}}</p>
                            </div>
                            <div class="row">
                                <p class="heading">E-MAIL</p>
                                <p class="content">{{submittedData.email}}</p>
                            </div>
                            <div class="row">
                                <p class="heading">KAARDI TÜÜP</p>
                                <p class="content" :class="submittedData.cardType + '-text'">{{getCardTypeName(submittedData.cardType)}}</p>
                            </div>
                            <div class="row">
                                <p class="heading">EKSAMI KUUPÄEV</p>
                                <p class="content">{{formatDate(submittedData.examDate)}}</p>
                            </div>
                            <div class="row" v-if="submittedData.comment">
                                <p class="heading">KOMMENTAAR</p>
                                <p class="content">{{submittedData.comment}}</p>
                            </div>
                            <p class="description">Andmed on edukalt registrisse sisestatud.</p>
                        </div>
                    </div>
                    <p class="warning">Veendu, et andmed on õiged</p>
                </template>
                <div v-if="!submitted" class="instructions">
                    <div class="row">
                        <div class="row-number-wrapper">
                            <div class="row-number">1</div>
                        </div>
                        <p>Täida kõik nõutud väljad</p>
                    </div>
                    <div class="row">
                        <div class="row-number-wrapper">
                            <div class="row-number">3</div>
                        </div>
                        <p>Vali õige kaardi tüüp</p>
                    </div>
                    <div class="row">
                        <div class="row-number-wrapper">
                            <div class="row-number">4</div>
                        </div>
                        <p>Kontrolli andmeid ja vajuta "SISESTA"</p>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="showMobileInstructions && !submitted" class="mobile" id="mobile-instructions">
            <div @click="toggleMobileInstructions" class="back-button"><img src="assets/chevron-left.svg"/>Tagasi</div>
            <h1>Andmete sisestamine</h1>
            <div class="instructions">
                <div class="row">
                    <div class="row-number-wrapper">
                        <div class="row-number">1</div>
                    </div>
                    <p>Täida kõik nõutud väljad</p>
                </div>
                <div class="row">
                    <div class="row-number-wrapper">
                        <div class="row-number">3</div>
                    </div>
                    <p>Vali õige kaardi tüüp</p>
                </div>
                <div class="row">
                    <div class="row-number-wrapper">
                        <div class="row-number">4</div>
                    </div>
                    <p>Kontrolli andmeid ja vajuta "SISESTA"</p>
                </div>
            </div>
        </div>

        <div id="mobile-results" v-if="submitted" class="mobile">
            <div class="centered-content">
                <div @click="goBack" class="back-button"><img src="assets/chevron-left.svg"/>Tagasi</div>
                <div id="result">
                    <div class="green header">ANDMED SISESTATUD</div>
                    <div id="result-content">
                        <div class="row">
                            <p class="heading">ISIKUKOOD</p>
                            <p class="content">{{submittedData.idCode}}</p>
                        </div>
                        <div class="row">
                            <p class="heading">RONIJA NIMI</p>
                            <p class="content">{{submittedData.name}}</p>
                        </div>
                        <div class="row">
                            <p class="heading">E-MAIL</p>
                            <p class="content">{{submittedData.email}}</p>
                        </div>
                        <div class="row">
                            <p class="heading">KAARDI TÜÜP</p>
                            <p class="content" :class="submittedData.cardType + '-text'">{{getCardTypeName(submittedData.cardType)}}</p>
                        </div>
                        <div class="row">
                            <p class="heading">EKSAMI KUUPÄEV</p>
                            <p class="content">{{formatDate(submittedData.examDate)}}</p>
                        </div>
                        <div class="row" v-if="submittedData.comment">
                            <p class="heading">KOMMENTAAR</p>
                            <p class="content">{{submittedData.comment}}</p>
                        </div>
                        <p class="description">Andmed on edukalt registrisse sisestatud.</p>
                    </div>
                </div>
                <p class="warning">Veendu, et andmed on õiged</p>
            </div>
        </div>
    </div>
</body>

<script type="module" src="./form.js"></script>

</html>
